name: Rust format

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly
            override: true
      - run: rustup component add clippy
      - run: rustup component add rustfmt
      - run: cargo fmt -- --check && cargo clippy -- -Dwarnings
