name: Run Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
          toolchain: stable
          override: true
    - uses: Swatinem/rust-cache@v1
      with:
          cache-on-failure: true

    - name: Install wasm-pack
      run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

    - name: Install wasm-bindgen-cli Custom
      run: cargo install --git https://github.com/bsvwasm/wasm-bindgen --branch universal-ui64-patch wasm-bindgen-cli

    - name: Run tests
      run: cargo test --verbose
    - name: Run WASM tests
      run: wasm-pack test --node

  node-test:
      runs-on: ubuntu-latest

      strategy:
        matrix:
          node-version: [14.x, 15.x]

      steps:
      - uses: actions/checkout@v2
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Install wasm-bindgen-cli Custom
        run: cargo install --git https://github.com/bsvwasm/wasm-bindgen --branch universal-ui64-patch wasm-bindgen-cli
        
      - uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true

      - uses: Swatinem/rust-cache@v1
        with:
          cache-on-failure: true

      - run: make build-nodejs
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - run: yarn
        working-directory: examples/node-test
      - run: yarn test
        working-directory: examples/node-test
